@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

:root {
    --color-terminal: #292b36;
    --border: 4px;
}

*{
    
    font-family: 'Source Code Pro', monospace;
}



body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #5c4b7a;
    
}

input, button {
    border: none;
    outline: none;
}

main {
    padding: 25px;
    box-shadow: 8px 8px 35px 0px rgb(0 0 0 / 75%);
    border: var(--border);

}

h1 {
    margin: 0;
}

#input-original, #resultado {
    background-color: var(--color-terminal);
    width: -webkit-fill-available;
}

#input-original {
    margin: 10 0 0px;
    padding: 10px;
    color: white;
    border-bottom-left-radius: var(--border);
    border-bottom-right-radius: var(--border);
}

#resultado {
    height: 20px;
    color: #5af78d;
    padding: 0 10px;
}

.rango {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 30px;
    text-align: center;
    align-items: center;
}

/* estilo del rango entero  */

input[type='range'] {
    -webkit-appearance: none;
    background: var(--color-terminal);
    border-radius: var(--border);
    margin: 0;
    padding: 0 5px;
    height: 20px;
}

/* estilo de la bolita del rango 
-webkit-appearance: none; es el prevent default*/

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: white;
}

